<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.indicators.mapper.MonthlyMapper">

    <select id="obtainMonthly" resultType="com.project.indicators.model.dto.IndicatorDTO">
        SELECT (SELECT COUNT (D.ID)
                  FROM DONATIONS D
                  WHERE 1 = 1
                  AND  D.ID_EMPLOYEE_TEAM = #{monthly.idEmployee}
                  AND  MONTH(D.CREATE_DATE) = #{monthly.monthNumber}
                  AND YEAR(D.CREATE_DATE)= #{monthly.yearNumber}) TOTALDONATIONS,
               (SELECT SUM (D.AMOUNT)
                  FROM DONATIONS D
                  WHERE 1 = 1
                  AND  D.ID_EMPLOYEE_TEAM = #{monthly.idEmployee}
                  AND  MONTH(D.CREATE_DATE) = #{monthly.monthNumber}
                  AND YEAR(D.CREATE_DATE)= #{monthly.yearNumber}) TOTALAMOUNTDONATIONS,
               (SELECT COUNT (D.ID_TYPE_PAY)
                  FROM DONATIONS D
                  WHERE 1 = 1
                  AND  D.ID_EMPLOYEE_TEAM = #{monthly.idEmployee}
                  AND  MONTH(D.CREATE_DATE) = #{monthly.monthNumber}
                  AND YEAR(D.CREATE_DATE)= #{monthly.yearNumber}
                  AND D.ID_TYPE_PAY =1) CREDITTYPE,
               (SELECT SUM (DR.PRODUCTIVE_HOURS)
                  FROM DAILY_RECORDS DR
                  WHERE 1 = 1
                  AND  DR.ID_EMPLOYEE_TEAM = #{monthly.idEmployee}
                  AND  MONTH(DR.CREATE_DATE) = #{monthly.monthNumber}
                  AND YEAR(DR.CREATE_DATE)= #{monthly.yearNumber}) TOTALPRODUCTIVEHOURS,
               (SELECT SUM (DR.NON_PRODUCTIVE_HOURS)
                  FROM DAILY_RECORDS DR
                  WHERE 1 = 1
                  AND  DR.ID_EMPLOYEE_TEAM =  #{monthly.idEmployee}
                  AND  MONTH(DR.CREATE_DATE) = #{monthly.monthNumber}
                  AND YEAR(DR.CREATE_DATE)= #{monthly.yearNumber}) TOTALNONPRODUCTIVEHOURS
	</select>

</mapper>